# .env example

# Copy this file to env dir as .env (base/config/env/.env)

# Traefik email configuraion for let's encrypt automatic certification
ACME_EMAIL='admin@ctf.example.com'

# GZCTF Server and PSQL Database
DATABASE_CONNECTION_STRING='Host=db;Database=gzctf;Username=postgres;Password=MySecretPassword123'

# Same as below
POSTGRES_PASSWORD='MySecretPassword123'

ADMIN_PASSWORD='MySecretPassword123'

# Generate it with 'openssl rand -hex 32'
XOR_KEY='MySuperSecretKey32BytesLong!!!'

# Goes to Traefik ingress
PLATFORM_PUBLIC_ENTRY='ctf.example.com'

# Goes to appsettings.json, it's actually k3s API entry
TASKS_PUBLIC_ENTRY='tasks.ctf.example.com'

# Mail settings for gzctf, goes to appsettings.json
# This is optional
EMAIL_SENDER_ADDRESS=''
EMAIL_SENDER_NAME=''
EMAIL_USERNAME=''
EMAIL_PASSWORD=''
EMAIL_SMTP_HOST='smtp.gmail.com'
EMAIL_SMTP_PORT=587
